# Core
fastapi==0.110.2
uvicorn[standard]==0.29.0

# Database & ORM
SQLAlchemy==2.0.30
psycopg2-binary==2.9.9

# Pydantic
pydantic==2.7.1
pydantic-settings==2.2.1

# Security
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4

# Validation
email-validator==2.1.1

# Utils
python-dotenv==1.0.1
httpx==0.27.0

# Migrations
alembic==1.13.1
